.Links {
  padding: 24px;

  &-wrapper {
  }

  &-item {
    position: relative;
    width: calc((100% - 24px * 2) / 3);
    display: inline-block;
    background: rgba(255, 255, 255, .8);
    border-radius: 4px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
    margin-right: 24px;
    &:nth-child(3n) {
      margin-right: 0;
    }

    &-img {
      position: absolute;
      left: 24px;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-position: left center;
      width: 36px;
      height: 36px;
      background-size: cover;
    }

    a {
      display: block;
      padding: 24px;
      padding-left: calc(24px + 36px + 12px);
      color: #888;
    }

    & + & {
      margin-top: 24px;
    }

  }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
  .Links-item {
    width: calc((100% - 24px) / 2);

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .Links-item {
    width: 100%;
  }
}
